<div class="flex justify-between">
  <div class="flex flex-col w-1/3 gap-5">
    <div class="flex justify-between"><div class="flex">-</div> <div class="flex">A</div> <div>B</div> <div>C</div></div>
    <div class="flex justify-between"><div class="flex self-center">1</div> <img width="50px" height="50px" src="assets/svg/available-chair.svg"><img width="50px" height="50px" src="assets/svg/available-chair.svg"><img width="50px" height="50px" src="assets/svg/available-chair.svg"></div>
    <div class="flex justify-between"><div class="flex self-center">2</div> <img width="50px" height="50px" src="assets/svg/available-chair.svg"><img width="50px" height="50px" src="assets/svg/available-chair.svg"><img width="50px" height="50px" src="assets/svg/available-chair.svg"></div>
    <div class="flex justify-between"><div class="flex self-center">3</div> <img width="50px" height="50px" src="assets/svg/available-chair.svg"><img width="50px" height="50px" src="assets/svg/available-chair.svg"><img width="50px" height="50px" src="assets/svg/available-chair.svg"></div>
    <div class="flex justify-between"><div class="flex self-center">4</div> <img width="50px" height="50px" src="assets/svg/available-chair.svg"><img width="50px" height="50px" src="assets/svg/available-chair.svg"><img width="50px" height="50px" src="assets/svg/available-chair.svg"></div>
    <div class="flex justify-between"><div class="flex self-center">5</div> <img width="50px" height="50px" src="assets/svg/available-chair.svg"><img width="50px" height="50px" src="assets/svg/available-chair.svg"><img width="50px" height="50px" src="assets/svg/available-chair.svg"></div>
  </div>
  <div class="flex flex-col gap-5">
    <div class="flex gap-5"><img width="50px" height="50px" src="assets/svg/available-chair.svg"> - Poltrona livre</div>
    <div class="flex gap-5"><img width="50px" height="50px" src="assets/svg/occupied-chair.svg"> - Poltrona ocupada</div>
  </div>
</div>


<div class="mt-10">
  <div>display poltronas (check)</div>
  <div>hover com info do usuário e botão para remover</div>
  <div>cursos pointer e cursos block</div>
  <div>descrever as ações do usuário</div>
  <div>legenda (check)</div>
</div>

<app-user-assignment></app-user-assignment>
